/* CSS for mpstats overview */

h1 {
    text-align: center;
}

th {
    text-align: center;
}

td {
    text-align: right;
}

.rowheader {
    text-align: left;
}

.spacer_top {
    height: 6px;
    background-color: #fff;
}

.spacer_bottom {
    height: 9px;
    background-color: #fff;
}

.selected {
    box-shadow: 3px 4px 5px #999;
}

.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td {
    padding: 2px 4px;
}
