/* CSS for main view */

.list {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    line-height: 1.7;
    font-size: 16px;
    width: 800px;
    margin: 6px 0 24px;
}

.locale_list a {
    padding-left: 4px;
}

.product_list a {
    padding-left: 16px;
}

tr th {
    background: #fff;
}

.number {
    text-align: right;
}

.source_type {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9em;
}

.error {
    background-color: #ff5252;
}
