body {
    background-color: #fff;
    font-family: Arial, Verdana;
    font-size: 14px;
    padding: 10px;
}

p {
    margin-top: 2px;
}

#update {
    margin-top: 10px;
}

table {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    color: #333;
    background: #f3f5f7;
    font-size: 13px;
}

table a {
    color: #3a4856;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

table a:visited {
    color: #777;
}

table a:hover {
    color: #000;
}

table thead th {
    background: #eaecee;
    padding: 15px 5px;
    color: #000;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
}

table tr th {
    background: #eaecee;
}

.rowheader span {
    padding-right: 5px;
}

table .firstsection {
    padding-left: 20px;
    border-left: 1px solid #fff;
}

table .lastsection {
    padding: 0 10px;
    border-right: 1px solid #fff;
}

table .lastsection:last-child {
    border-right: 0;
}

table tbody,
table thead {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

table tbody {
    border-bottom: 1px solid #fff;
}

table tbody td, table tbody th {
    padding: 5px;
    text-align: right;
    min-width: 25px;
}

table tbody td {
border-bottom: 1px solid #FFF;
}

table tbody tr {
    background: #f5f5f5;
}

table tbody .odd {
    background: #f0f2f4;
}

table tbody tr:hover {
    background: #eaecee;
    color: #111;
}
